@charset "UTF-8";

.TEST2 {
    text-align: center;
}

.TEST3 {
    display: flex;
    justify-content: center;
}

.TEST4 {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.test4 {
    text-align: center;
}

.test4 img{
    width: 100%;
}

.TEST5 {
    display: flex;
    justify-content: space-around;
}

.test5{
    text-align: center;
}
